<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Zeuss</title>
</head>
<body>
    <div class = "conteiner1">
        <header class="row">
            <div>
                <a class="brand" href="index.html">ZEUSS</a>
            </div>
            <div>
                <a href="cart.html">SING IN</a>
                <a href="signin.html">SING IN</a>
            </div>
        </header>
        <main>
            <div class="centro">
                <h3>NUESTROS productS</h3>
                <div class="station">
                    <img class="gasnormal" src="images/imagengasstation.jpg" alt="product" />
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="gasnormal" src="images/amarillofuel.png" alt="product" />
                    </a>
                    <div class="cardb">
                        <a href="product.html">
                            <h2>Gasolina corriente</h2>
                        </a>
                        <div class="price">
                            $8930
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="gasnormal" src="images/fuelgas.png" alt="product" />
                    </a>
                    <div class="cardb">
                        <a href="product.html">
                            <h2>Gasolina extra</h2>
                        </a>
                        <div class="price">
                            $10210
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
    </div>
</body>
</html>